<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Cart</h1>

    <%var total = 0;%>
    <%cart[0].items.forEach((item) => {%>
      <%total += item.cost * item.qty%>
      <div class="card">
        <p><%=item.name%></p>
        <p><%=item.cost%></p>
        <p><%=item.qty%></p>
        <img src="<%=item.image%>" alt="" width="200" height="200">

      </div>

      <%});%>
      <h1>Total: <%=total%></h1>




    <hr>

    <a class="btn btn-light btn-lg" href="/checkout" role="button">Checkout</a>
    <a class="btn btn-dark btn-lg" href="/products" role="button">Products</a>
  </div>
</div>

<%- include('partials/footer') %>
