<%- include('partials/header1') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Orders</h1>

    <%orders.forEach((order) => {%>


        <h2><%=order.total%></h2>
        <h5><%=order.date%></h5>
        <%order.items.forEach((item) => {%>
          <div class="card">
            <p><%=item.name%></p>
            <p><%=item.cost%></p>
            <p><%=item.qty%></p>
            <img src="<%=item.image%>" alt="" width="200" height="200">

          </div>
        <%});%>

      <%});%>




    <hr>


    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/admin/addTest" role="button">Add a test</a>
  </div>
</div>

<%- include('partials/footer') %>
